<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a href="#" data-ng-click="setCurrency('WPM')" data-ng-class="{active: currency.symbol == 'WPM'}">WPM</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('WPM')" data-ng-class="{active: currency.symbol == 'WPM'}">WPM</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('mWPM')" data-ng-class="{active: currency.symbol == 'mWPM'}">mWPM</a>
  </li> 
</ul>

